@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary-color: #2d9dff;
  --color-secondary-color: #eb3d4d;
  --color-gray-black-50: #e9e9ea;
  --color-gray-black-100: #d2d2d5;
  --color-gray-black-200: #a5a5ab;

  --color-btn-secondary-bg: #7a24bc33;
  --color-secondary-bg: #131824;

  --color-gray3-bg: #1b202c;
  --color-gray3-border: #181e2a;
  --color-red-bg: #e70d0d;
  --color-dark-bg: #0d121e;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  font-family: var(--font-inter);
}

/* tabs wrapper custom scrollbar */
.tabs_wrapper {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #1f2937;
}

.tabs_wrapper::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.tabs_wrapper::-webkit-scrollbar-track {
  background-color: #1f2937;
}

.tabs_wrapper::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 10px;
}

.tabs_wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #2d3748;
}

/* Custom Switch */
.custom-switch.data-\[state\=checked\]\:bg-primary[data-state="checked"] {
  background-color: var(--color-primary-color);
}

/* Setting Dialog */

.settingDialog > button {
  outline: none;
  box-shadow: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.settingDialog > button > svg {
  height: 22px;
  width: 22px;
}

.settingDialog > button .focus\:ring-2:focus {
  box-shadow: none !important;
}

/* Notification Dialog */
.notification-dialog > button {
  @apply hidden;
}

.selectOption {
  @apply cursor-pointer border-[#1B202C] px-2.5 py-[9px] rounded-sm border text-center flex items-center justify-center text-white focus:bg-accent focus:text-accent-foreground;
}

/* Users Tab */
.usersTab .data-\[state\=active\]\:shadow-sm[data-state="active"] {
  background-color: transparent;
}

/* Error Message */
.error-msg {
  @apply text-[#ff0000e3] text-sm my-1;
}

.success-msg {
  @apply text-[#2ECC71] text-sm my-1;
}

/* OTP era */
.otp-input-wrap > div,
.otp-input-wrap > div > div {
  width: 100% !important;
  justify-content: center !important;
  gap: 16px !important;
}

.otp-input-wrap > div > div > input {
  width: 100% !important;
}

.primary-btn {
  @apply flex justify-center items-center gap-2.5 bg-[#7A24BC] px-5 py-2.5 rounded-lg cursor-pointer hover:bg-[#9B2BB9];
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color:red;
}
